.sidebar {
  width: 220px;
  background: #f3f5f9;
  color: #4b5563;
  height: 100vh;
  padding: 10px;
  box-shadow: 0px 0px 5px gray;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #4b5563;
  padding: 10px 16px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

.nav-link .icon {
  min-width: 20px; 
}

.nav-link span {
  flex: 1; 
}

.nav-link:hover,
.nav-link.active {
  background-color: #2b8cfc;
  color: #fff;
}
